<div ng-app="WAD">
    <div ng-view></div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">

    var baseURL = 'https://localhost:47547/api/'
    angular
        .module('WAD', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/progress/index.html',
                        controller: 'IndexController'
                    })
                .when('/create',
                    {
                        templateUrl: 'pages/progress/create.html',
                        controller: 'CreateController'
                    })
                .when('/details/:progressId',
                    {
                        templateUrl: 'pages/progress/details.html',
                        controller: 'DetailsController'
                    })

                .when('/edit/:progressId',
                    {
                        templateUrl: 'pages/progress/edit.html',
                        controller: 'EditDeleteController'
                    })
                .otherwise({
                    redirectTo: '/'
                });
        })


        .controller('IndexController', ['$scope', '$http', '$filter', function ($scope, $http, $filter) {
            $scope.progresses = [];
            $http.get('http://localhost:47547/api/Progress/')
                .then(function (res) {
                    $scope.progresses = res.data;

                    for (var i = 0; i < $scope.progresses.length; i++) {
                        $scope.progresses[i].endDate = $filter('date')($scope.progresses[i].endDate, "mediumDate");
                    }
                })
        }])


        .controller('CreateController', ['$scope', '$http', '$location', '$routeParams', '$filter', function ($scope, $http, $location, $routeParams, $filter) {
            $scope.create = {
                habitProgress: '',
                isCompleted: false,
                note: '',
                endDate: ''
            };
            
            $scope.names = []

            $http.get('http://localhost:47547/api/Habit/')
                .then(function (res) {
                    $scope.habits = res.data;
                    for (var i = 0; i < $scope.habits.length; i++) {
                        $scope.names[i] = $scope.habits[i].name;
                    }
                });

            $scope.Save = function () {

                for (var i = 0; i < $scope.habits.length; i++) {
                    if ($scope.habitName == $scope.habits[i].name) {
                        $scope.habitId = $scope.habits[i].id;
                    }
                }
                

                $http.get('http://localhost:47547/api/Habit/' + $scope.habitId)
                    .then(function (res) {
                        $scope.create.habit = res.data;

                        $http.post('http://localhost:47547/api/Progress/', $scope.create)
                            .then(function (res) {
                                console.log(res.data.habit);
                                console.log(res.data.isCompleted);
                                $location.path('/');
                            });
                        
                    });
            };
        }])



        .controller('DetailsController', ['$scope', '$http', '$routeParams', '$filter', function ($scope, $http, $routeParams, $filter) {
            $scope.details = [];

            $http.get('http://localhost:47547/api/Progress/' + $routeParams.progressId)
                .then(function (res) {
                    $scope.details = res.data;
                    $scope.details.endDate = $filter('date')($scope.details.endDate, "mediumDate");

                });
        }])


        .controller('EditDeleteController', ['$scope', '$http', '$location', '$routeParams', '$filter', function ($scope, $http, $location, $routeParams) {
            $scope.edit = [];

            $http.get('http://localhost:47547/api/Progress/' + $routeParams.progressId)
                .then(function (res) {
                    $scope.edit = res.data;
                    $scope.edit.habitProgress = parseInt($scope.edit.habitProgress);
                    $scope.edit.endDate = new Date($scope.edit.endDate);

                });

            $scope.Edit = function () {
                $scope.edit.habitProgress = parseInt($scope.edit.habitProgress);
                $http.put('http://localhost:47547/api/Progress/' + $routeParams.progressId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
            $scope.Delete = function () {
                $http.delete('http://localhost:47547/api/Progress/' + $routeParams.progressId, null)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
        }])
        .filter('yesNo', function () {
            return function (input) {
                return input ? 'Yes' : 'No';
            }
        });
</script>

