<div ng-app="WAD">
    <div ng-view></div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<script type="text/javascript">
    // Creating a Module to use within index page
    var baseURL = 'https://localhost:47547/api/'
    angular
        .module('WAD', ['ngRoute'])
        .config(function ($routeProvider) {
            $routeProvider
                .when('/',
                    {
                        templateUrl: 'pages/progress/index.html',
                        controller: 'IndexController'
                    })
                .when('/create',
                    {
                        templateUrl: 'pages/progress/create.html',
                        controller: 'CreateController'
                    })
                .when('/details/:progressId',
                    {
                        templateUrl: 'pages/progress/details.html',
                        controller: 'DetailsController'
                    })

                .when('/edit/:progressId',
                    {
                        templateUrl: 'pages/progress/edit.html',
                        controller: 'EditDeleteController'
                    })
                .otherwise({
                    redirectTo: '/'
                });

        })
        .controller('IndexController', ['$scope', '$http', function ($scope, $http) {
            $scope.Progresss = [];
            $http.get('http://localhost:47547/api/Progress/')
                .then(function (res) {

                    $scope.Progresses = res.data;
                })
        }])
        .controller('CreateController', ['$scope', '$http', '$location', '$filter', function ($scope, $http, $location, $filter) {
            $scope.Progress = {
                id: 0,
                HabitProgress: '',
                IsCompleted: '',
                Note: '',
                endDate: $filter('date')(new Date(), "yyyy-MM-dd HH:mm:ss")
            };
            $scope.saveProgress = function () {
                $scope.Progress.startDate = $filter('date')($scope.startDate, "yyyy-MM-dd HH:mm:ss");
                $http.post('http://localhost:47547/api/Progress/', $scope.Progress)
                    .then(function (response) {
                        console.log(response);
                    }, function (error) {
                        console.log(error);
                    });
            }
        }])
        .controller('DetailsController', ['$scope', '$http', '$routeParams', function ($scope, $http, $routeParams) {
            $scope.details = [];

            $http.get('http://localhost:47547/api/Progress/' + $routeParams.ProgressId)
                .then(function (res) {
                    $scope.details = res.data;
                });

        }])
        .controller('EditDeleteController', ['$scope', '$http', '$location', '$routeParams', function ($scope, $http, $location, $routeParams) {
            $scope.edit = [];

            $http.get('http://localhost:47547/api/Progress/' + $routeParams.ProgressId)
                .then(function (res) {
                    $scope.edit = res.data;
                });

            $scope.Edit = function () {
                $http.put('http://localhost:47547/api/Progress/' + $routeParams.ProgressId, $scope.edit)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
            $scope.Delete = function () {
                $http.delete('http://localhost:47547/api/Progress/' + $routeParams.ProgressId, null)
                    .then(function (res) {
                        $location.path('/');
                    });
            };
        }]);
</script>

